label.error{
    color:red;
}
figure.gallery-image{
    width:250px;
    height:130px;
    overflow: hidden;
}

footer {
    background-color:;
    padding-top: 10px;
    padding-bottom: 0px;
    height:50px;
    text-align: center;
    bottom: 10px;
}
